@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a IronMongeryTools</h1>
    <p>Este es un sistema de gestión de inventario y ventas diseñado para administrar productos, proveedores
        y realizar compras como usuario de manera eficiente. Regístrate, gestiona tu cuenta y explora las funcionalidades.</p>
</div>
