@{
    ViewData["Title"] = "Política de privacidad";
}
<h1>@ViewData["Title"]</h1>

<p style="text-align:center justify;">
    Este proyecto guarda información en una base de datos únicamente con fines educativos y de demostración.
    No se recopilan ni procesan datos personales con fines comerciales ni se comparten con terceros</p>
