@model IronMongeryTools.Models.MovimientosInventario

@{
    ViewData["Title"] = "Create";
}

<h2>Crear movimientos de inventario</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="create-form" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="custom-form-group">
                <label asp-for="MovimientosInventarioID" class="control-label"></label>
                <input asp-for="MovimientosInventarioID" class="form-control" maxlength="11" />
                <span asp-validation-for="MovimientosInventarioID" class="text-danger"></span>
            </div>
            <div class="custom-form-group">
                <label asp-for="ProductoID" class="control-label"></label>
                <input asp-for="ProductoID" class="form-control" maxlength="60" type="text" />
                <span asp-validation-for="ProductoID" class="text-danger"></span>
            </div>
            <div class="custom-form-group">
                <label asp-for="TipoMovimiento" class="control-label"></label>
                <input asp-for="TipoMovimiento" class="form-control" maxlength="10" />
                <span asp-validation-for="TipoMovimiento" class="text-danger"></span>
            </div>
            <div class="custom-form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" maxlength="10" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="custom-form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" maxlength="10" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary custom-save-btn">Guardar registro</button>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-primary custom-regresar-btn mt-3">Regresar a lista</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}