@model IronMongeryTools.Models.Administrador

@{
    ViewData["Title"] = "Details";
}

<h2>Detalles de Administrador</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="custom-form-group">
        <label asp-for="AdministradorID" class="control-label">Administrador ID</label>
        <input asp-for="AdministradorID" class="form-control" size="10" readonly />
        <span asp-validation-for="AdministradorID" class="text-danger"></span>
    </div>
    <div class="custom-form-group">
        <label asp-for="Nombre" class="control-label"></label>
        <input asp-for="Nombre" class="form-control" size="60" readonly />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>
    <div class="custom-form-group">
        <label asp-for="FechaNacimiento" class="control-label">Fecha de Nacimiento</label>
        <input asp-for="FechaNacimiento" class="form-control" size="10" readonly />
        <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
    </div>
    <div class="custom-form-group">
        <label asp-for="Correo" class="control-label"></label>
        <input asp-for="Correo" class="form-control" readonly />
        <span asp-validation-for="Correo" class="text-danger"></span>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-primary custom-regresar-btn mt-3">Regresar a la lista</a>
    </div>
}