@model IronMongeryTools.Models.Ventas

@{
    ViewData["Title"] = "Details";
}

<h2>Detalle de venta</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="custom-form-group">
        <label asp-for="VentasID" class="control-label"></label>
        <input asp-for="VentasID" class="form-control" size="10" readonly />
        <span asp-validation-for="VentasID" class="text-danger"></span>
    </div>
    <div class="custom-form-group">
        <label asp-for="UsuarioID" class="control-label"></label>
        <input asp-for="UsuarioID" class="form-control" size="60" readonly />
        <span asp-validation-for="UsuarioID" class="text-danger"></span>
    </div>
    <div class="custom-form-group">
        <label asp-for="Fecha" class="control-label"></label>
        <input asp-for="Fecha" class="form-control" maxlength="10" readonly />
        <span asp-validation-for="Fecha" class="text-danger"></span>
    </div>
    <div class="custom-form-group">
        <label asp-for="Total" class="control-label"></label>
        <input asp-for="Total" class="form-control" maxlength="10" readonly />
        <span asp-validation-for="Total" class="text-danger"></span>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-primary custom-regresar-btn mt-3">Regresar a la lista</a>
    </div>
}