@model IronMongeryTools.Models.Usuarios

@{
    ViewData["Title"] = "Create";
}

<h2>Crear usuario</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" id="create-form" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="custom-form-group">
                <label asp-for="UsuarioID" class="control-label"></label>
                <input asp-for="UsuarioID" class="form-control" maxlength="11" />
                <span asp-validation-for="UsuarioID" class="text-danger"></span>
            </div>
            <div class="custom-form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" maxlength="60" type="text" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="custom-form-group">
                <label asp-for="FechaNacimiento" class="control-label"></label>
                <input asp-for="FechaNacimiento" class="form-control" maxlength="10" />
                <span asp-validation-for="FechaNacimiento" class="text-danger"></span>
            </div>
            <div class="custom-form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" type="text" pattern="[a-z]" size="10" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="custom-form-group">
                <label asp-for="PasswordHash" class="control-label" type="password"></label>
                <input asp-for="PasswordHash" class="form-control" size="10" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary custom-save-btn">Guardar registro</button>

        </form>
        @if (TempData["Error"] != null)
        {
            <div class="alert alert-danger">
                @TempData["Error"]
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-primary custom-regresar-btn mt-3">Regresar a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}